#spotify-nav {
  width: 100vw;
  padding: 1rem 0;
  .container {
    margin: 0 auto;
    width: 60%;
    div {
      display: inline-block;
      width: 60%;
    }
    button {
      margin: 0.3rem 0;
      display: inline-block;
      padding: 0.2em;
      width: 8rem;
      font-size: 0.9em;
      color: #1DB954;
      background-color: #fff;
      border-radius: 1em;
      border: 0.2em solid #1DB954;
      cursor: pointer;
    }
  }
}